page-fb-images {
    .image-container {
        min-height: 150px;
        background-size: cover;
    }

    .images-navbar-item {
        display: inline-block;
        width: 20%;
        color: #ffffff;
        font-family: georgia;
        font-weight: bold;
        font-size: 2.5vh;
        text-align: center;
        border-radius: 1vh;
        margin-left: 10%;
        margin-right: 10%;
    }

    .images-navbar {
        background-color: #f8f8f8;
        display: inline-block;
        text-align: center;
        width: 100%;
    }
}

gallery-modal {
    direction: ltr;
    ion-slides {
        background-color: black;
    }
}