page-entry-screen {
    padding: 0;
    margin: 0;
    background: black;
}

#enter {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#overlay {
    position: fixed;
    top: 85%;
    font-size: 3em;
    font-weight: bold;
    color: red;
}