page-admin-panel {

    [ng-reflect-ng-switch='calendar']{
        text-align: center;
    }

    [ng-reflect-ng-switch='home']{
        text-align: center;
    }

    .center{
        text-align: center;
        padding: 30px 30px 30px 30px;
    }
}
