<ion-content padding>
    <div padding>
        <ion-segment [(ngModel)]="modelController">
            <ion-segment-button dir="ltr" value="home">
                <ion-icon name="home"></ion-icon>
                Home
            </ion-segment-button>
            <ion-segment-button dir="ltr" value="calendar">
                <ion-icon name="calendar"> </ion-icon>
                Calendar
            </ion-segment-button>
            <ion-segment-button dir="ltr" value="info">
                <ion-icon name="information-circle"> </ion-icon>
                Information
            </ion-segment-button>
        </ion-segment>
    </div>

    <div [ngSwitch]="modelController">

        <!-- Home Data admin panel segment -->

        <ng-container *ngSwitchCase="'home'">
            <ion-list>
                <ion-item *ngFor="let post of storyProv.posts;">
                    <h2>{{post.headline}}</h2>
                    <button icon-only item-end (click)="deleteStory(post)">
                        <ion-icon name="close-circle" color="danger"></ion-icon>
                    </button>
                </ion-item>
            </ion-list>
            <button ion-button (click)="presentModal('NewHomeStoryPage')">Add Story</button>
        </ng-container>

        <!-- Calendar admin panel segment -->

        <ng-container *ngSwitchCase="'calendar'">
            <ion-list>
                <ion-item *ngFor="let event of calProv.posts;">
                    <h2>{{event.headline}}</h2>
                    <button icon-only item-end (click)="deleteEvent(event)">
                        <ion-icon name="close-circle" color="danger"></ion-icon>
                    </button>
                </ion-item>
            </ion-list>
            <button ion-button (click)="presentModal('NewEventPage')">Add Event</button>
        </ng-container>

        <!-- Information admin panel segment -->

        <ng-container *ngSwitchCase="'info'">
            <div class="center">
                <h1>Unavailable</h1>
            </div>
        </ng-container>
    </div>
</ion-content>