page-admin-panel {

    text-align: center;

    .segment-title{
        margin-right: 2vh;
        font-size: 3vh
    }

    .center{
        text-align: center;
        padding: 30px 30px 30px 30px;
    }
}
