<ion-header>
    <ion-navbar>
        <ion-title>
            {{tabName}}
            <refresh id={{refresh_id}}></refresh>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list *ngFor="let post of calendarProvider.posts; let i = index">
        <ion-item-sliding>
            <ion-item>
                <ion-thumbnail item-start>
                    <img *ngIf="post.imageURL != ''; else elsetag" src={{post.imageURL}}>
                    <ng-template #elsetag>
                        <img src="assets/imgs/logo.png">
                    </ng-template>
                </ion-thumbnail>
                <h2 text-wrap>{{post.headline}}</h2>
                <p text-wrap>{{post.date.toLocaleString('he-IL',dateOptions)}}</p>
                <button ion-button clear item-end (click)="toggleSection(i)" detail-none [ngClass]="{'section-active': post.open, 'section': !post.open}">
                    <ion-icon item-left name="arrow-dropdown-circle" *ngIf="!post.open"></ion-icon>
                    <ion-icon item-left name="arrow-dropup-circle" *ngIf="post.open"></ion-icon>
                </button>
            </ion-item>
            <ion-item-options side="left" dir="ltr">
                <button ion-button color="primary" (click)="addToPlatformCalendar(i)">
                    <ion-icon name="add"></ion-icon>
                    ללוח שנה
                </button>
            </ion-item-options>
            <ion-item *ngIf="post.open">
                <p text-wrap>{{post.content}}</p>
            </ion-item>
            
        </ion-item-sliding>
     </ion-list>
</ion-content>