nav {
    background-color: #333;
    display: inline-block;
    overflow: hidden;
    bottom: 0;
    width: 100%;
}

.fix {
    position: fixed;
}

.stick {
    position: sticky;
    margin-bottom: -7px;
}