<ion-header>
    <ion-navbar color="primary">
        <ion-title text-center>Login</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding dir='ltr'>
    <ion-list>

        <ion-item>
            <ion-label floating>Email</ion-label>
            <ion-input [(ngModel)]="email" type="email" name="email" required="required"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Password</ion-label>
            <ion-input [(ngModel)]="password" type="password" name="password" required="required"></ion-input>
        </ion-item>

        <div padding text-center>
            <button *ngIf="email && password " ion-button color="dark" round (click)="login()">Login</button>
            <!-- Show dead button if form is not filled -->
            <button *ngIf="!email || !password" ion-button color="darkGray" round>Login</button>
        </div>

    </ion-list>

    <br/>
    <div padding text-center>
        <button ion-button color="gray" clear (click)="forgotPassword()">Forgot Password</button>
    </div>
</ion-content>