page-new-event {

    ion-title{
        text-align: center;
    }

    quill{
        border: 2px solid rgb(158, 158, 158);

        .ql-container{
            background-color: white;
        }
    }

    ion-buttons{
        text-align: center;
        width: 100%;
        button{
            min-width: 45%;
        }  
    }
}
