<ion-header>
    <ion-navbar>
        <ion-title>{{pageTitle}}</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-item>
        <ion-label floating>כותרת</ion-label>
        <ion-input [(ngModel)]="headline" type="text" name="Headline" required="required"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label floating>תוכן</ion-label>
        <ion-textarea [(ngModel)]="content" type="text" name="Content" required="required"></ion-textarea>
    </ion-item>
    <ion-item>
        <ion-label floating>תאריך</ion-label>
        <ion-datetime [(ngModel)]="date" min="2018" max="{{yearOffset}}" displayFormat="DD/MM/YYYY H:mm" pickerFormat="D MMM YYYY H m" required="required"></ion-datetime>
    </ion-item>
    <ion-item>
        <ion-icon name="cloud-upload" color='primary' item-end (click)='upImg.click()'></ion-icon>
        <ion-label floating>תמונה - לינק או לחץ לבחירה</ion-label>
        <ion-input [(ngModel)]="imageUrl" type="url" name="Image URL"></ion-input>
        <input #upImg type="file" (change)="uploadFile($event)">
    </ion-item>
    <ion-item>
        <ion-label floating>קישור לקניית כרטיסים</ion-label>
        <ion-input [(ngModel)]="purchaseURL" type="url" name="Purchase URL"></ion-input>
    </ion-item>
    <p></p>
    <ion-buttons>
        <button *ngIf="headline && date && content" ion-button (click)="save()">{{actionButton}}</button>
        <!-- Show dead button if form is not filled -->
        <button *ngIf="!headline || !date || !content" ion-button color="darkGray">{{actionButton}}</button>
        <button ion-button (click)="cancel()">ביטול</button>
    </ion-buttons>
</ion-content>