<ion-header>
    <ion-navbar>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <main>
        <ion-row justify-content-center *ngFor="let post of postsService.posts; let i = index;">
            <ion-card id="postCard_{{i}}" [ngClass]="browserSize" (click)="showStory(post)">
                <img *ngIf="post.imageURL != ''; else elsetag" src={{post.imageURL}}>
                <ng-template #elsetag>
                    <img src="assets/imgs/logo.jpg">
                </ng-template>
                <ion-card-content text-wrap>
                    <ion-card-title text-wrap>
                        {{post.headline}}
                    </ion-card-title>
                    <p>{{post.preview}}</p>
                </ion-card-content>
            </ion-card>
        </ion-row>
    </main>
    <ion-fab left bottom>
        <button ion-fab color="primary" (click)="iab.create('http://www.dropagudajce.co.il', '_system')">
            <i class="fab fa-dropbox" style="font-size: 25px"></i>
        </button>
    </ion-fab>
</ion-content>