<ion-header>
  <ion-navbar>
    <ion-title>New Story</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label floating>Headline</ion-label>
    <ion-input [(ngModel)]="headline" type="text" name="Headline" required="required"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Preview</ion-label>
    <ion-input [(ngModel)]="preview" type="text" name="Preview" required="required"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Content</ion-label>
    <ion-textarea [(ngModel)]="content" type="text" name="Content" required="required"></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-label floating>Image URL</ion-label>
    <ion-input [(ngModel)]="imageUrl" type="url" name="Image URL" required="required"></ion-input>
  </ion-item>
  <p></p>
  <ion-buttons>
    <button *ngIf="headline && content && preview" ion-button (click)="save()">Save</button>
    <!-- Show dead button if form is not filled -->
    <button *ngIf="!headline || !content || !preview" ion-button color="darkGray">Save</button>
    <button ion-button (click)="cancel()">Cancel</button>
  </ion-buttons>
</ion-content>