home-data {
}

.data-wrapper{
    margin: 0px 5% 0px 5%;
    background: rgb(248, 178, 184);
    border: 5px solid rgb(255, 159, 159);
    border-radius: 5px;
    text-align: center;
}

.data-header{
    background: rgb(255, 159, 159);
}

.data-content{

}
