.tabbar_red>div.tabbar {
    background: red;
}

.tabbar_red>div.tabbar a[aria-selected=true] {
    background: brown;
}

.tabbar_red>div.tabbar .tab-button-text {
    color: azure;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.tabbar_red>div.tabbar .icon {
    color: azure;
}